[submodule "CookCookhNya-backend"]
	path = Backend
    branch = dev
	url = https://github.com/Endpool/CookCookhNya-backend
[submodule "CookCookhNya-frontend"]
    path = Frontend
    branch = dev
	url = https://github.com/Endpool/CookCookhNya-frontend
